-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: core360
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ejecutiva_cargos`
--

DROP TABLE IF EXISTS `ejecutiva_cargos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejecutiva_cargos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejecutiva_cargos`
--

LOCK TABLES `ejecutiva_cargos` WRITE;
/*!40000 ALTER TABLE `ejecutiva_cargos` DISABLE KEYS */;
INSERT INTO `ejecutiva_cargos` VALUES (1,'Jefa'),(2,'Ejecutiva');
/*!40000 ALTER TABLE `ejecutiva_cargos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresa_seguimiento_log`
--

DROP TABLE IF EXISTS `empresa_seguimiento_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresa_seguimiento_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `empresa_id` int NOT NULL,
  `estado` varchar(50) NOT NULL,
  `fecha` date NOT NULL,
  `usuario_id` int DEFAULT NULL,
  `reunion_id` varchar(20) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `empresa_id` (`empresa_id`),
  CONSTRAINT `empresa_seguimiento_log_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresa_seguimiento_log`
--

LOCK TABLES `empresa_seguimiento_log` WRITE;
/*!40000 ALTER TABLE `empresa_seguimiento_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresa_seguimiento_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `jefatura_id` int DEFAULT NULL,
  `estado_seguimiento` varchar(50) DEFAULT 'pendiente',
  `fecha_solicitada` datetime DEFAULT NULL,
  `fecha_concretada` datetime DEFAULT NULL,
  `zona_id` int DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `fk_empresa_jefatura` (`jefatura_id`),
  KEY `fk_empresas_zona` (`zona_id`),
  CONSTRAINT `fk_empresas_zona` FOREIGN KEY (`zona_id`) REFERENCES `zonas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=503 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_catalogo_preguntas`
--

DROP TABLE IF EXISTS `encuesta_catalogo_preguntas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_catalogo_preguntas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dimension_id` int DEFAULT NULL,
  `subdimension` varchar(100) DEFAULT NULL,
  `texto` text NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `escala` int DEFAULT '5',
  `es_nps` tinyint(1) DEFAULT '0',
  `opciones_json` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `activo` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `dimension_id` (`dimension_id`),
  CONSTRAINT `encuesta_catalogo_preguntas_ibfk_1` FOREIGN KEY (`dimension_id`) REFERENCES `encuesta_dimensiones` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_catalogo_preguntas`
--

LOCK TABLES `encuesta_catalogo_preguntas` WRITE;
/*!40000 ALTER TABLE `encuesta_catalogo_preguntas` DISABLE KEYS */;
/*!40000 ALTER TABLE `encuesta_catalogo_preguntas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_dimensiones`
--

DROP TABLE IF EXISTS `encuesta_dimensiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_dimensiones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_dimensiones`
--

LOCK TABLES `encuesta_dimensiones` WRITE;
/*!40000 ALTER TABLE `encuesta_dimensiones` DISABLE KEYS */;
INSERT INTO `encuesta_dimensiones` VALUES (9,'Productos',NULL,'2026-05-24 16:26:33');
/*!40000 ALTER TABLE `encuesta_dimensiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_preguntas_old`
--

DROP TABLE IF EXISTS `encuesta_preguntas_old`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_preguntas_old` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `dimension_id` int DEFAULT NULL,
  `subdimension` varchar(100) DEFAULT NULL,
  `texto` text NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `es_nps` tinyint(1) DEFAULT '0',
  `orden` int DEFAULT '0',
  `opciones_json` json DEFAULT NULL,
  `requerida` tinyint(1) DEFAULT '0',
  `escala` int DEFAULT '5',
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  KEY `fk_pregunta_dimension` (`dimension_id`),
  CONSTRAINT `encuesta_preguntas_old_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `encuesta_templates` (`id`),
  CONSTRAINT `fk_pregunta_dimension` FOREIGN KEY (`dimension_id`) REFERENCES `encuesta_dimensiones` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_preguntas_old`
--

LOCK TABLES `encuesta_preguntas_old` WRITE;
/*!40000 ALTER TABLE `encuesta_preguntas_old` DISABLE KEYS */;
/*!40000 ALTER TABLE `encuesta_preguntas_old` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_respuestas`
--

DROP TABLE IF EXISTS `encuesta_respuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_respuestas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `encuesta_id` int NOT NULL,
  `pregunta_id` int NOT NULL,
  `valor_texto` text,
  `valor_numerico` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `encuesta_id` (`encuesta_id`),
  KEY `pregunta_id` (`pregunta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_respuestas`
--

LOCK TABLES `encuesta_respuestas` WRITE;
/*!40000 ALTER TABLE `encuesta_respuestas` DISABLE KEYS */;
/*!40000 ALTER TABLE `encuesta_respuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_template_preguntas`
--

DROP TABLE IF EXISTS `encuesta_template_preguntas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_template_preguntas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `pregunta_id` int NOT NULL,
  `orden` int DEFAULT '1',
  `requerida` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_template_pregunta` (`template_id`,`pregunta_id`),
  KEY `pregunta_id` (`pregunta_id`),
  CONSTRAINT `encuesta_template_preguntas_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `encuesta_templates` (`id`) ON DELETE CASCADE,
  CONSTRAINT `encuesta_template_preguntas_ibfk_2` FOREIGN KEY (`pregunta_id`) REFERENCES `encuesta_catalogo_preguntas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_template_preguntas`
--

LOCK TABLES `encuesta_template_preguntas` WRITE;
/*!40000 ALTER TABLE `encuesta_template_preguntas` DISABLE KEYS */;
INSERT INTO `encuesta_template_preguntas` VALUES (50,4,24,1,1,'2026-05-24 16:47:46'),(66,4,25,2,1,'2026-05-27 17:47:00'),(67,4,28,3,1,'2026-05-27 17:48:15');
/*!40000 ALTER TABLE `encuesta_template_preguntas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuesta_templates`
--

DROP TABLE IF EXISTS `encuesta_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuesta_templates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `version` int NOT NULL DEFAULT '1',
  `tipo` varchar(50) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuesta_templates`
--

LOCK TABLES `encuesta_templates` WRITE;
/*!40000 ALTER TABLE `encuesta_templates` DISABLE KEYS */;
INSERT INTO `encuesta_templates` VALUES (1,'Franquicia',1,NULL,1,'2026-04-29 12:54:24'),(2,'Ejecutiva',1,NULL,2,'2026-04-29 12:54:24'),(3,'Servicio',1,NULL,2,'2026-05-04 04:08:16'),(4,'template_prueba',1,NULL,1,'2026-05-07 22:54:30'),(5,'CBC',1,NULL,2,'2026-05-08 21:26:16'),(6,'template',1,NULL,2,'2026-05-20 21:27:18');
/*!40000 ALTER TABLE `encuesta_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encuestas`
--

DROP TABLE IF EXISTS `encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuestas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ejecutiva_id` int DEFAULT NULL,
  `empresa_id` int DEFAULT NULL,
  `enviado_a` varchar(255) DEFAULT NULL,
  `token` varchar(255) DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `template_id` int DEFAULT NULL,
  `estado` enum('pendiente','completada') DEFAULT 'pendiente',
  `fecha_respuesta` timestamp NULL DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `reunion_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `template_id` (`template_id`),
  CONSTRAINT `encuestas_ibfk_1` FOREIGN KEY (`template_id`) REFERENCES `encuesta_templates` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encuestas`
--

LOCK TABLES `encuestas` WRITE;
/*!40000 ALTER TABLE `encuestas` DISABLE KEYS */;
/*!40000 ALTER TABLE `encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `old_ejecutivas`
--

DROP TABLE IF EXISTS `old_ejecutivas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `old_ejecutivas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `cargo_id` int DEFAULT '2',
  `correo` varchar(150) DEFAULT NULL,
  `jefatura_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cargo` (`cargo_id`),
  KEY `fk_jefatura` (`jefatura_id`),
  CONSTRAINT `fk_cargo` FOREIGN KEY (`cargo_id`) REFERENCES `ejecutiva_cargos` (`id`),
  CONSTRAINT `fk_jefatura` FOREIGN KEY (`jefatura_id`) REFERENCES `old_jefaturas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `old_ejecutivas`
--

LOCK TABLES `old_ejecutivas` WRITE;
/*!40000 ALTER TABLE `old_ejecutivas` DISABLE KEYS */;
INSERT INTO `old_ejecutivas` VALUES (1,'Beatriz Silva',2,'crivera@proforma.cl',2),(2,'Carolina Osorio',2,'crivera@proforma.cl',3),(3,'Luisa Bravo',2,'crivera@proforma.cl',4),(4,'Valentina Alarcon',2,'crivera@proforma.cl',5),(5,'Camilo Rivera',2,'crivera@proforma.cl',2),(6,'Tom├ís Parada',2,'crivera@proforma.cl',3),(7,'Monica Sanchez',2,'crivera@proforma.cl',5),(8,'Camila Meneses',2,'crivera@proforma.cl',4),(9,'Lyan Becerra',2,'crivera@proforma.cl',2);
/*!40000 ALTER TABLE `old_ejecutivas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `old_jefaturas`
--

DROP TABLE IF EXISTS `old_jefaturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `old_jefaturas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `correo` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `old_jefaturas`
--

LOCK TABLES `old_jefaturas` WRITE;
/*!40000 ALTER TABLE `old_jefaturas` DISABLE KEYS */;
INSERT INTO `old_jefaturas` VALUES (2,'Beatriz Silva','crivera@proforma.cl'),(3,'Carolina Osorio','crivera@proforma.cl'),(4,'Luisa Bravo','crivera@proforma.cl'),(5,'Valentina Alarcon','crivera@proforma.cl');
/*!40000 ALTER TABLE `old_jefaturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `respuestas`
--

DROP TABLE IF EXISTS `respuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `respuestas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `encuesta_id` int NOT NULL,
  `respuestas_json` json NOT NULL,
  `fecha_respuesta` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `encuesta_id` (`encuesta_id`),
  CONSTRAINT `respuestas_ibfk_1` FOREIGN KEY (`encuesta_id`) REFERENCES `encuestas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `respuestas`
--

LOCK TABLES `respuestas` WRITE;
/*!40000 ALTER TABLE `respuestas` DISABLE KEYS */;
/*!40000 ALTER TABLE `respuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reuniones`
--

DROP TABLE IF EXISTS `reuniones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reuniones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_reunion` varchar(50) DEFAULT NULL,
  `ejecutiva_id` int NOT NULL,
  `enviado_a` varchar(255) DEFAULT NULL,
  `enviado_por` varchar(255) DEFAULT NULL,
  `participantes` text,
  `tipo_reu` varchar(100) DEFAULT NULL,
  `fecha_reu` date DEFAULT NULL,
  `hora` time DEFAULT NULL,
  `lugar` varchar(255) DEFAULT NULL,
  `documentos_adjuntos` text,
  `motivo_reu` text,
  `minuta` text,
  `form_f` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `empresa_id` int NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `programado_para` datetime DEFAULT NULL,
  `estado_envio` varchar(20) DEFAULT 'enviado',
  `archivos_nombres` text,
  `programar_encuesta` tinyint(1) DEFAULT '0',
  `encuesta_tipo` varchar(100) DEFAULT NULL,
  `encuesta_programada_para` datetime DEFAULT NULL,
  `encuesta_estado_envio` varchar(20) DEFAULT 'pendiente',
  `encuesta_relacionada` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `ejecutiva_id` (`ejecutiva_id`),
  KEY `empresa_id` (`empresa_id`),
  CONSTRAINT `reuniones_ibfk_2` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=149 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reuniones`
--

LOCK TABLES `reuniones` WRITE;
/*!40000 ALTER TABLE `reuniones` DISABLE KEYS */;
/*!40000 ALTER TABLE `reuniones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_gerencias`
--

DROP TABLE IF EXISTS `usuario_gerencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_gerencias` (
  `usuario_id` int NOT NULL,
  `gerencia_id` int NOT NULL,
  PRIMARY KEY (`usuario_id`,`gerencia_id`),
  KEY `gerencia_id` (`gerencia_id`),
  CONSTRAINT `usuario_gerencias_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usuario_gerencias_ibfk_2` FOREIGN KEY (`gerencia_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_gerencias`
--

LOCK TABLES `usuario_gerencias` WRITE;
/*!40000 ALTER TABLE `usuario_gerencias` DISABLE KEYS */;
INSERT INTO `usuario_gerencias` VALUES (1,15),(2,15),(3,15),(4,15),(18,17),(24,17),(25,17),(20,19),(21,22),(23,22),(15,26),(17,26),(19,26),(22,26),(28,27);
/*!40000 ALTER TABLE `usuario_gerencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `correo` varchar(255) DEFAULT NULL,
  `contrasena` varchar(255) NOT NULL DEFAULT '123456',
  `cargos` varchar(255) DEFAULT NULL,
  `permisos` varchar(100) DEFAULT 'ejecutiva',
  `jefatura_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `cargo_id` int DEFAULT '2',
  `zona_id` int DEFAULT '1',
  `gerencia_id` int DEFAULT NULL,
  `vistas_permitidas` text,
  PRIMARY KEY (`id`),
  KEY `fk_usuarios_zona` (`zona_id`),
  KEY `fk_usuarios_gerencia` (`gerencia_id`),
  CONSTRAINT `fk_usuarios_gerencia` FOREIGN KEY (`gerencia_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_usuarios_zona` FOREIGN KEY (`zona_id`) REFERENCES `zonas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zonas`
--

DROP TABLE IF EXISTS `zonas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zonas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zonas`
--

LOCK TABLES `zonas` WRITE;
/*!40000 ALTER TABLE `zonas` DISABLE KEYS */;
INSERT INTO `zonas` VALUES (1,'Matriz','2026-05-20 17:12:11'),(2,'Zona Norte 1','2026-05-20 17:12:11'),(3,'Zona Norte 2','2026-05-20 17:12:11'),(4,'Concepci├│n','2026-05-20 17:12:11'),(5,'Puerto Montt','2026-05-20 17:12:11'),(6,'Vi├▒a del Mar','2026-05-20 17:12:11');
/*!40000 ALTER TABLE `zonas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'core360'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01 13:53:37
